.container {
  color: rgb(247, 247, 247);
  /* display: flex;
  justify-content: space-between; */
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center; /* 2. Horizontally center content */
  height: 100px;
  
}

header {
  align-items: center;
  background-color: black;
}






