.container {
  color: rgb(70, 133, 64);
  /* display: flex;
  justify-content: space-between; */
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center; /* 2. Horizontally center content */
  height: 1000px;
  width: 1000px;
  background-color: rgb(177, 223, 182);
  float: center;
  
}