p {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(129, 205, 133);

}
h1 {
    text-align: center;
    background-color: rgb(5, 165, 13);
}

li {
    background-color: rgb(196, 231, 196);
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    
}
ul {
    list-style-type: circle;
}
ol {
    font-style: italic;
    list-style-type: lower-greek;
}

#first_paragraph {
    
    text-align: justify;
    background-color: rgb(208, 223, 209);
}

.copyright {
    color: aliceblue;
    background-color: black;
    text-align: center;
}

.code-text {
  font-style: italic;
}
img {
  width: 300px;
  height: auto;
}

#img-b {
    width: 150px;
    
}
video {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}
