.container {
  color: rgb(245, 6, 6);
  /* display: flex;
  justify-content: space-between; */
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center; /* 2. Horizontally center content */
  
  height: 1000px;
  width: 300px;
  background-color: rgb(46, 34, 135);
  float: right;
  
}




