.container {
  color: rgb(133, 64, 64);
  /* display: flex;
  justify-content: space-between; */
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center; /* 2. Horizontally center content */
  height: 1000px;
  width: 300px;
  background-color: rgb(229, 147, 147);
  float: left;
  
}